.container{
    margin-bottom: 100px;
}

.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 20px;
}
.price{
    color:#ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #ff589B 0% , #ff136f 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1{
    background-color: #ff136f;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories{
    margin-top: 100px;
    
}
.cat1 , .cat2 , .cat3{
    padding: 0px 20px;
    border-radius: 10px;
}
.categories h1{
    color: white;
}
.categories img{
    width: 100px;
}
.card{
    border: none;
    box-shadow: 5px 5px 10px lightgrey;
    border-radius: 10px;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe h6{
    color: gray;
}
footer{
    text-align: center;
}
.subscribe{
    height: 300px;
}
.submit{
    margin-top: 2%;
}